polarion/plugins/com.polarion.alm.builder_3.17.0/schema/build-report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://polarion.com/schema/Builder/Report" xmlns:tns="http://polarion.com/schema/Builder/Report" elementFormDefault="qualified">

    <element name="report">
        <annotation>
        	<documentation>
        		More or less compatible with reports generated by
        		Polarion 2.
        	</documentation>
        </annotation>
        <complexType>
        	<sequence>
        		<element name="events" maxOccurs="1" minOccurs="1">
        			<complexType>
        				<sequence>
        					<element name="error" maxOccurs="unbounded"
        						minOccurs="0">
        						<complexType mixed="true">
        							<attribute name="severity"
        								type="string" use="required">
        							</attribute>
        						</complexType>
        					</element>
        				</sequence>
        				<attribute name="fatal" type="int"
        					use="required">
        				</attribute>
        				<attribute name="error" type="int"
        					use="required">
        				</attribute>
        				<attribute name="warn" type="int"
        					use="required">
        				</attribute>
        			</complexType>
        		</element>
                <element name="results" maxOccurs="1" minOccurs="1">
                	<complexType>
                		<sequence>
                			<element name="deployment" maxOccurs="unbounded" minOccurs="0">
                				<complexType>
                					<attribute name="label"
                						type="string" use="required">
                					</attribute>
                					<attribute name="path"
                						type="string" use="required">
                					</attribute>
                				</complexType></element>
                		</sequence>
                	</complexType></element>
                <any></any>
        	</sequence>
        	<attribute name="projectId" type="string" use="required"></attribute>
        	<attribute name="buildId" type="string" use="required"></attribute>
        	<attribute name="status" type="string" use="required"></attribute>
        	<attribute name="revision" type="string" use="optional"></attribute>
        	<attribute name="duration" type="string" use="required"></attribute>
        	<attribute name="userId" type="string" use="optional"></attribute>
        	<attribute name="startedByScheduler" type="boolean" use="optional"></attribute>
        </complexType>
    </element>
</schema>